write python program to create table function take one number paramenter and this function wil create a table for thar number.

In [8]:
def table(a):
    for i in range(1,11):
        print(a,'*',i,'=',a*i)
a=int(input("enter a number"))
table(a)

enter a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
student={}
name=input("enter your name: ")
age=int(inpit("enter your age: "))
roll=int(input("enter rollno"))
demo={}
demo.update({age:roll})
student.update({name:demo})
print(student)